@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme inline {
  --color-primary: #034894;
  --color-background:#fffdf6;
  --color-para:#696687;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
}
.inter {
   font-family: "Inter", sans-serif;
}

